/* @group base */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-family: "PT Serif", "Georgia", serif;
	background-color: white;
	font-size: 112.5%;
	line-height: 1.6;
	color: #333;
}

a {
	color: inherit;
	font-weight: bold;
}

nav ul {
	list-style: none;
}

nav li {
	display: inline-block;
}

/* @group grid */

.container {
	max-width: calc(1000px + 2rem);
	margin: 0 auto;
	padding: 2rem;
}

.three_tile .tile {
	margin-right: calc((13%/3)/2);
	margin-left: calc((13%/3)/2);
	display: inline-block;
	vertical-align: top;
	width: 30%;
}

.two_tile .tile {
	margin-right: calc((13%/3)/2);
	display: inline-block;
	vertical-align: top;
	width: 30%;
}

.two_tile .slab {
	width: calc(60% + (13%/3));
	margin-left: calc((13%/3)/2);
	display: inline-block;
	vertical-align: top;
}

.tile:nth-child(1) {
	margin-left: 0;
}

.tile:nth-child(3) {
	margin-right: 0;
}

/* @group header */

header {
	text-align: center;
}

.frontpage {
	box-shadow: 0 0 50rem rgba(0,0,0,.8) inset;
	background-position: top center;
	background-repeat: no-repeat;
	background-color: #111;
	background-size: cover;
}

.title {
	vertical-align: top;
	font-size: 3.5em;
	line-height: 1;
	margin: 1rem 0;
	color: white;
}

.title span, .title sup {
	display: inline-block;
	vertical-align: top;
	margin-top: .25em;
	font-size: .5em;
}

.title span {
	margin-right: -.25em;
}

.subtitle {
	font-family: "PT Sans", "Trebuchet MS", sans-serif;
	color: rgba(255,255,255,0.8);
	text-transform: uppercase;
	letter-spacing: .1rem;
	font-weight: normal;
	font-size: .75em;
}

.edition {
	color: rgba(255,255,255,0.5);
	font-style: italic;
	margin: 1rem 0;
}

.edition:before, .edition:after {
	background-color: rgba(255,255,255,0.4);
	vertical-align: middle;
	display: inline-block;
	margin: 0 1rem;
	content: " ";
	height: 1px;
	width: 30%;
}

.featured {
	margin-bottom: 1rem;
	margin-top: 10rem;
	text-align: left;
}

.category {
	font-family: "PT Sans", "Trebuchet MS", sans-serif;
	color: rgba(255,255,255,0.8);
	text-transform: uppercase;
	letter-spacing: .1rem;
	text-align: center;
	font-weight: bold;
	font-size: .75em;
}

.featured h1 {
	font-family: "PT Sans", "Trebuchet MS", sans-serif;
	line-height: 1.4;
	font-size: 3em;
	color: white;
}

.featured h2 {
	color: rgba(255,255,255,0.8);
	line-height: 1.4;
}

.subtext {
	display: inline-block;
	color: rgba(255,255,255,0.5);
	margin-top: .5rem;
	font-size: .75em;
}

/* @group menu */

.categories {
	font-family: "PT Sans", "Trebuchet MS", sans-serif;
	text-transform: uppercase;
	letter-spacing: .1rem;
	text-align: center;
	font-weight: bold;
	font-size: .75em;
	border-bottom: 1px solid #ddd;
}

.categories a {
	text-decoration: none;
}

.categories li {
	padding: .2rem .5rem;
	border-radius: 4px;
	margin: 1rem;
}

.categories li:hover {
	background-color: #ddd;
}

.active {
	background-color: #D1FAF9;
	color: #25B4B3;
}

.active:hover {
	background-color: #9FE9E9 !important;
}

/* @group stories tiles */

.stories {
	text-align: center;
}

.tile {
	box-shadow: 0 0 10rem rgba(0,0,0,.6) inset;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #111;
	background-size: cover;
	min-height: 220px;
	padding: 1rem;
}

.tile:hover {
	box-shadow: 0 0 10rem rgba(0,0,0,.2) inset;
}

.stories .hgroup {
	font-family: "PT Sans", "Trebuchet MS", sans-serif;
	text-align: left;
	margin-top: 6rem;
	line-height: 1.2;
	min-height: 75px;
	color: white;
}

.pagemast {
	border-bottom: 1px solid #ddd;
	margin-bottom: 1rem;
	font-size: 2em;
}

/* @group posts */

.posts {
	padding-top: 0;
}

.post {
	margin: 1rem 0 3rem;
}

.post:last-child {
	padding-bottom: 3rem;
	border-bottom: 1px solid #ddd;
}

.post .tile {
	box-shadow: none;
}

.article_category {
	font-family: "PT Sans", "Trebuchet MS", sans-serif;
	text-transform: uppercase;
	letter-spacing: .1rem;
	text-align: center;
	font-weight: bold;
	font-size: .75em;
	color: #888;
}

.article_title {
	font-family: "PT Sans", "Trebuchet MS", sans-serif;
	color: black;
	margin-bottom: .5rem;
	line-height: 1.2;
	font-size: 2em;
}

.article_subtitle {
	line-height: 1.4;
	margin-bottom: .5rem;
	font-weight: normal;
	font-size: 1.1em;
}

.article_meta {
	font-style: italic;
	color: #888;
}
