/* import Open Sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');

/* colour palette */
:root {
  --c-deepblack: #000807;
  --c-black: #2c3e50;
  --c-grey: #6a8bad;
  --c-lightgrey: #eaecef;
  --c-white: #ffffff;
  --c-lightcyan: #87d1d8;
  --c-darkcyan: #0d8b96;
  --c-lightorange: #ffa647;
  --c-darkorange: #f57e00;
}

/* essential settings */
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Open Sans;
  color: var(--c-black); 
  background-color: var(--c-white); 
  font-weight: 400;
  font-size: 14px; /* can adjust this later if needed */
}

/* used in nav and header to trace grey line at bottom */
.bottom-horizontal {
  border-bottom: 1px solid var(--c-lightgrey);
}

/* basic properties of nav bar */
.nav-bar {
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden; /* for safety */
  background-color: var(--c-white);
  position: sticky; /* to make it stick */
  position: -webkit-sticky; /* to make it stick */
  top: 0px;
  flex-wrap: wrap; /* lets the nav bar wrap around on smaller screens */
}

/* the collection of nav links, embedded in our nav bar */
nav {
  padding: 5px 20px;
}

/* properties of nav bar links */
nav a {
  text-decoration: none;
  color: var(--c-black);
  padding: 2px;
  margin: 10px;
  display: inline-block;
  border-top: 2px solid var(--c-white);
  border-bottom: 2px solid var(--c-white);
}
nav a.current-page {
  border-bottom: 2px solid var(--c-lightcyan);
}
nav a:hover {
  color: var(--c-darkcyan);
  border-bottom: 2px solid var(--c-darkcyan);
}

/* making sure the logo isn't naughty */
.nav-bar-logo {
  padding: 10px;
  max-height: 45px;
}

/* make sure content has nice juicy margins on left and right */
main {
  margin: 50px 30%;
}

/* use thin font for title, no overblown margins */
header h1 {
  font-weight: 300;
  font-size: 36px;
  margin: 0;
}

/* for the email address on the Contact page */
span.email {
  font-family: monospace;
}

/* green links in paragraphs */
p > a {
  text-decoration: none;
  color: var(--c-darkcyan);
}

/* formatting figures */
figure {
  margin-left: 0;
}
figure > img {
  max-width: 100%;
  max-height: 500px; 
}
figcaption {
  font-style: italic;
  color: var(--c-darkgrey);
}

.banner {
  background-image: url('/home/nimeni/git/masscubed.com/assets/images/shareteam.jpg');
  width: 100%;
  height: 400px;
  background-size: cover;
}
main.home-page {
  min-height: 100%;
}
