/* @group grid */

.grid {
	margin: 0 auto;
	max-width: 1000px;
	text-align: center;
}

.full {
	width: calc(100% - 1rem);
}

.half {
	width: calc(50% - 1rem);
}

.two-third {
	width: calc((2*(100%/3)) - 1rem);
}

.one-third {
	width: calc((100%/3) - 1rem);
}

.quarter {
	width: calc(25% - 1rem);
}

.col {
	margin-right: calc(1rem / 2 - .125rem);
	margin-left: calc(1rem / 2 - .125rem);
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

.col:first-child {
	margin-left: 0;
}

.col:last-child {
	margin-right: 0;
}

@media (max-width: 768px) {

	.quarter {
		width: calc(50% - 1rem);
	}

	.quarter:nth-child(2) {
		margin-right: 0;
	}

	.quarter:nth-child(3) {
		margin-left: 0;
	}

}

@media (max-width: 440px) {

	.col {
		width: calc(100% - 1rem);
	}

	.col:last-child, .col:first-child, .quarter:nth-child(2), .quarter:nth-child(3) {
		margin-right: .5rem;
		margin-left: .5rem;
	}

}

/* @end */

/* @group typography */

* {
	box-sizing: border-box;
	line-height: 1;
	padding: 0;
	margin: 0;
}

html {
	font-family: "PT Serif", "Georgia", serif;
	-webkit-font-smoothing: antialiased;
	font-size: 112.5%; /* 1rem = 18px */
}

body {
	color: #333;
}

header, main, footer {
	padding: 2rem;
}

a {
	color: inherit;
}

h1, h2, h3, h4, h5, p, img, blockquote, embed, pre, article ul, ol {
	margin-bottom: 1rem;
}

nav ul {
	list-style: none;
}

nav li {
	display: inline-block;
}

/* @end */

/* @group header */

.cover {
	box-shadow: 0 0 50rem rgba(0,0,0,.8) inset;
	background-position: top center;
	background-repeat: no-repeat;
	background-color: #111;
	background-size: cover;
}

.logo {
	vertical-align: top;
	font-size: 3.5em;
	line-height: 1;
	margin: 1rem 0;
	color: white;
}

.logo a {
	text-decoration: none;
}

.logo span, .logo sup {
	display: inline-block;
	vertical-align: top;
	margin-top: .25em;
	font-size: .5em;
}

.logo span {
	margin-right: -.25em;
}

.byline {
	font-family: "PT Sans", "Trebuchet MS", sans-serif;
	color: rgba(255,255,255,0.8);
	line-height: 1.3;
	text-transform: uppercase;
	letter-spacing: .1rem;
	font-weight: normal;
	font-size: .75em;
}

.edition {
	color: rgba(255,255,255,0.5);
	font-style: italic;
	margin: 1rem 0;
}

.edition a {
	text-decoration: none;
}

.edition:before, .edition:after {
	background-color: rgba(255,255,255,0.4);
	vertical-align: middle;
	display: inline-block;
	margin: 0 1rem;
	content: " ";
	height: 1px;
	width: 30%;
}

.featured {
	margin-top: 10rem;
	text-align: left;
	color: white;
}

.featured .article-type {
	opacity: 0.5;
}

.featured .article-blurb {
	opacity: 0.8;
}

/* @end */

/* @group navbar */

.navbar {
	font-family: "PT Sans", "Trebuchet MS", sans-serif;
	border-bottom: 1px solid #ddd;
	text-transform: uppercase;
	letter-spacing: .1rem;
	font-weight: bold;
	font-size: .75em;
}

.navbar a {
	text-decoration: none;
}

.navbar li {
	padding: .4rem .5rem;
	border-radius: 4px;
	margin: 1rem;
}

.navbar li:hover {
	background-color: #ddd;
}

.active {
	background-color: #000;
	color: white;
}

/* @end */

/* @group typography */

.permalink {
	text-decoration: none;
}

.article-type, .article-headline {
	font-family: "PT Sans", "Trebuchet MS", "Helvetica Neue", "Arial", sans-serif;
	font-weight: bold;
}

.article-type {
	text-transform: uppercase;
	letter-spacing: .1rem;
	font-size: .75em;
}

.article-headline {
	line-height: 1.1;
	font-size: 2.5em;
}

.article-blurb {
	line-height: 1.2;
	font-size: 1.5em;
}

/* @end */

/* @group top-stories */

.top-stories-tile {
	box-shadow: 0 0 10rem rgba(0,0,0,.6) inset;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #111;
	background-size: cover;
	overflow-y: hidden;
	padding: 1rem;
	color: white;
}

.top-stories-article {
	margin-top: 40%;
	font-size: .75em;
}

.top-stories-article .article-type {
	opacity: 0.5;
}

.top-stories-article .article-headline {
	min-height: 75px;
}

/* @end */

/* @group responsitivity */

@media (max-width: 640px) {

	header, main, footer {
		padding: 1rem;
	}

	nav li {
		display: block;
	}

	.mast {
		font-size: .9em;
	}

	.byline {
		max-width: 60%;
		margin: 0 auto;
	}

	.edition:before, .edition:after {
		display: block;
		margin: 1rem auto;
	}

	.featured .two-third {
		width: calc(100% - 1rem);
	}

	.navbar li {
		padding: .75rem .5rem;
		border-radius: 4px;
		margin: 1rem;
	}

	.mobile {
		height: 4.25rem;
		overflow: hidden;
	}

	.mobile ul:before {
		content: 'Show Menu';
		display: inline-block;
		padding: .75rem .5rem;
		border-radius: 4px;
		margin: 1rem;
	}

	.top-stories-article {
		margin-top: 2rem;
		font-size: .75em;
	}

	.top-stories .one-third {
		width: calc(100% - 1rem);
		margin-left: 0;
		margin-right: 0;
	}

	.top-stories .article-headline {
		min-height: 0;
	}

}

/* @end */