<!doctype html>
<html>
	<head>
		<title>MASS³ Monthly</title>
		<meta charset="utf-8">
		<meta name="author" content="Carlos Melegrito, Editor-in-chief">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="description" content="Monash Advanced Science and Science Scholar Society News">
		<link rel="stylesheet" href="{% static '/css/grid.css' %}">
		<link rel="stylesheet" href="{% static '/css/style.css' %}">
		<link rel="shortcut icon" href="{% static '/img/icon.png' %}">
		<link rel="apple-touch-icon" href="{% static '/img/icon.png' %}">
		<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	</head>
	<body>