<!doctype html>
<html lang="en">
	{% include head.html %}
	<body>
		{% include header.html %}
		<nav class="navbar mobile hidden" onclick="toggle(this)">
			{% include nav.html %}
		</nav>

 		<main>
			<div class="grid container">
				<!-- article -->
				<article class="col two-third no-left full-article">
					<div class="article-header">
						<img src="{{ page.image }}"/>
						<span class="article-type">{{ page.categories[0] }}</span>
						<h1 class="article-headline">{{ page.title }}</h1>
						<h2 class="article-subhead">{{ page.subtitle }}</h2>
						<span class="article-byline">Written by {{ page.author }}</span>
					</div>
					{{ content }}

					{% if article.imageSource %}
						<div class="footnotes">
							<p>Article image from {% if article.imageSourceURL %}<a href="{{ article.imageSourceURL }}">{% endif %}{{ article.imageSource }}{% if article.imageSourceURL %}</a>{% endif %}</p>
						</div>
					{% endif %}
				</article>

				<!-- links to other articles -->
				<div class="col one-third no-right sidebar">
					<h2 class="section-header">In This Issue</h2>
					{% for article in site.posts %}
						{% if article.featured == true %}
							<a class="col tile" href="{{ post.url }}" style="background-image:url({{ article.image }})">
								<article class="article">
									<span class="article-type">{{ article.categories[0] }}</span>
									<h1 class="article-headline">{{ article.title }}</h1>
								</article>
							</a>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</main>

		<nav class="navbar bottom-nav mobile hidden" onclick="toggle(this)">
			{% include nav.html %}
		</nav>
		{% include footer.html %}
	</body>
	{% include scripts.html %}
</html>