type: community news
headline: The State of the Common Room Address
subhead: The common room is filthy. Search your feelings. You know it to be true.
date: 28-04-2016
author: Carlos Melegrito
image: http://cjmlgrto.s3.amazonaws.com/misc/mass3-temp/crayons.jpg 

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

Whenever I get stressed, I have this tendency to ignore everything happening around me. That is, I don't have time to care about anything other than what can relieve my stress. 

And when that happens, it's as if my brain shuts everything else down but the limbic system. It's as if, all I care about is just eating and sleeping— seeking all sorts of comfort. It's as if my brain is ‘allocating limited resources’ to simply mitigating my fight-or-flight response, trying to survive through a flood of nervous system responses meant for our pre-historic hunter-gatherer ancestors.

It's as if, the singular goal of reliving my stress turns me into a primal, selfish monster. And I'm sure this happens to you too.

While we're busy working on our assignments, catching up on lectures, or even sorting some issues out at home, all we care about is just trying to get that stuff done. I mean, who has time to care for anything else?

As a side effect of this, we're abusing our dear common room to its full extent. As we try to get assignments done, we don't care if we just leave books lying on the ground, underneath chairs, tables or sofas. As we try to catch up on lectures, we don't care if we just leave food scraps out, ignore the dishes— so long as we get food while we work. Although it may sound optimal, it's not great for anyone else.

Dishes pile up high, books and magazines are littered everywhere. The stationery's scattered enough to become a treasure hunt. The fridge becomes a magnet for “science experiments”— and don't get me started on the poor old microwave.

The common room is a mess, and we're all to be blamed. And as much as there are those who are altruistic enough to tidy up (or perhaps, obsessed with cleanliness)— there are far greater of us who pollute it as we please.

So the best thing we can do, isn't to ram our way through the room like rhino as we try and get our stress relieved. We should instead help each other out by fixing up even the most trivial of things around the room. Even if it's as simple as throwing small scraps of paper, organising stationery, or perhaps even packing up once you've finished.

Although your stress remains, knowing that the common room will end up that extra bit cleaner should at least leave you better off than you started.

{% endfilter %}

{% endblock body %}