type: events
headline: Trivia Night, Soon!
subhead: It's all about Mythology
date: 27-04-2016
author: Jacqueline Saykao
tile2: true
image: http://cjmlgrto.s3.amazonaws.com/misc/mass3-temp/trivia.jpg

{% extends "post.html" %}

{% block body %}
{% filter markdown %}

### Theme
*Mythology*— Greek gods, Roman gods, Norse gods, Egyptian deities and everything in between.

### When
Wednesday, 11th of May at 7:00pm until late

### Where
Sir John’s Bar

### Prices
$15 General Admission
$10 with either MSA **or** MASS³ Membership
$5 with both MSA and MASS³ Membership

### How
Tickets will be sold in the common room on selected times. Keep an eye on the [Facebook page](http://www.facebook.com/groups/masscubed/) for more info.

### Why
Because it’s the greatest trivia night of all! Who doesn’t love out-competing your friends in an arbitrary topic during an arbitrary night instead of completing your assignments and keeping your grades up? (We kid. Do your assigments *first*, and then attend!)


{% endfilter %}
{% endblock body %}