type: misc
headline: Fun-tastic Science YouTube Channels
subhead: Get smarter while you're bored!
date: 27-04-2016
author: Carlos Melegrito
image: http://cjmlgrto.s3.amazonaws.com/misc/mass3-temp/misc-science-channels.jpg

{% extends "post.html" %}

{% block body %}
{% filter markdown %}

Right now, I’m subscribed to about 30 YouTube channels— and a majority of them are science communication channels. Not only are they really fun to watch, but they’re great to learn from in terms of science content *and* information delivery!

I’ve curated a list of my favorite four— perhaps you may or may not be familiar with some of them.

### It’s Okay To Be Smart

<div class="embed">
<iframe width="1280" height="720" src="https://www.youtube-nocookie.com/embed/jdVc2J_OwDc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>

If you mix pop culture references, fast-paced delivery and science oddities, you get *[It’s Okay To Be Smart](https://www.youtube.com/channel/UCH4BNI0-FOK2dMXoFtViWHw)*. Hosted by [PhD Joe Hanson](https://twitter.com/jtotheizzoe), it's a great show if you’re interested in the *scientifically interesting*. The episode above is his latest— and but my favorite is the [episode on Einstein](https://www.youtube.com/watch?v=Ci4L6myFFng).

### Kurzgesagt (In A Nutshell)

<div class="embed">
<iframe width="1280" height="720" src="https://www.youtube-nocookie.com/embed/xZbcwi7SfZE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>


One of the greatest— if not, *the best*— science communication channels on the web is *[Kurzgesagt](https://www.youtube.com/channel/UCsXVk37bltHxD1rDPwtNM8Q)*. They started out making videos about science tidbits, but they’ve recently transitioned to making videos for social causes. Above is a brilliant episode of theirs on antimicrobial resistance, and here’s a good one on [quantum computing](https://www.youtube.com/watch?v=JhHMJCUmq28).

### PBS Space Time

<div class="embed">
<iframe width="1280" height="720" src="https://www.youtube-nocookie.com/embed/msVuCEs8Ydo?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>

If you’re looking to question the details of astrophysics (or if you’re a seasoned physicist yourself), *[PBS Space Time](https://www.youtube.com/channel/UC7_gcs09iThXybpVgjHZ_7g/videos)* is the perfect show for you. Every video’s an in-depth look at a concept in physics, and they occasionally post [challenge episodes](https://www.youtube.com/watch?v=wcBjibuHxEk) where you send in your answers and get neat prizes.

### TED-Ed

<div class="embed">
<iframe width="1280" height="720" src="https://www.youtube-nocookie.com/embed/XMriWTvPXHI?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>

There are TED Talks, and there are *[TED-Ed](https://www.youtube.com/channel/UCsooa4yRKGN_zEE8iknghZA)* videos. This YouTube channel has been animating the concepts behind almost every TED talk ever since, plus a few [extra oddities](https://www.youtube.com/watch?v=Y6e_m9iq-4Q). Their latest video is on [cats](https://www.youtube.com/watch?v=sI8NsYIyQ2A), which you might enjoy.

### More?

Do you have any favorite YouTube channels? Let me know, and I might publish another post on those— or perhaps, make it a series! Other than that, happy procrasti-learning!

{% endfilter %}
{% endblock body %}