type: sponsor
headline: Monash Careers, Leadership and Volunteering
subhead: A word from our sponsor
date: 28-04-2016
tile3: true
image: http://cjmlgrto.s3.amazonaws.com/misc/mass3-temp/clv.jpg 

{% extends "post.html" %}
{% block body %}

{% filter markdown %}

Here’s the situation: you’re nearly finished with your degree, and you’re feeling that tiny bit of stress from looking for a great job that best suits your major.

The solution? Well, it’s *Monash University*’s own careers and volunteering service! From mock job interviews to fully-fledged presentations on cover-letter writing and employability skills (a must!), everything you need to get the job you want is right at your footsteps. Visit the brand-new office at Clayton Campus Centre, or head over at [monash.edu.au/careers](monash.edu.au/careers).

### Useful links

**[Practice Interview Session](https://careergateway.monash.edu.au/ViewEvent.chpx?id=2983098)**: *May 4, 2016 at Clatyon*, a workshop to help with interviews.

**[Leap into Leadership Online](http://www.monash.edu/students/leadership/online.html)**: a suite of free modules to develop your employability and leadership skills at your own pace. It's available for all current Monash students, any time - so you can complete as many modules as you like, at any stage of your studies.

**[Volunteering at Monash](http://www.monash.edu/volunteer)**: Being a volunteer means surrounding yourself with like-minded people, working together to help others. You will meet new friends, network with inspirational mentors, and make unique connections.

{% endfilter %}

{% endblock body %}